@model StreamSurfer.Models.Show

@{
    ViewData["Title"] = "Detail";
}

<div>
    <div>
        <img src=@Html.DisplayFor(model => model.Picture)/>
    </div>

    <div>
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <h3>Description</h3>
        <p>@Html.DisplayFor(model => model.Desc)</p>
    </div>
</div>

<div>
    <h2>Available on:</h2>
    @for (var i = 0; i < Model.Services.Count; i++)
    {
        <div style="display: inline-block">
            <img src=@Model.Services[i].Picture />
            <h3>@Model.Services[i].Name</h3>
        </div>

        if (i % 3 == 2)
        {
            <br />
        }
    }
</div>