@model StreamSurfer.Models.Show
@{
    ViewData["Title"] = "Detail";
}

<div>
    <div>
        <img src=@Html.DisplayFor(model => model.Picture) />
    </div>

    <div>
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <h3>Description</h3>
        <p>@Html.DisplayFor(model => model.Desc)</p>
    </div>
</div>

<div style="overflow: auto">
    <h2>Available on:</h2>
    @{ 
        foreach (var service in Model.ShowService.Select(s => s.Service))
        {
            <div class="col-xs-4">
                <p>@Html.DisplayFor(name => service.Name)</p>
                <img src=@Html.DisplayFor(name => service.Picture) />
                <p>From: @Html.DisplayFor(name => service.Price)</p>
            </div>
        }
    }
    <br />
</div>