.register {
    background: url("../images/register-background.jpeg") no-repeat top center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.login {
    background: url("../images/login-background.jpg") no-repeat top center fixed;
    background-size: cover;
}
.register-box {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding: 0;
    box-shadow: 13px 10px 9px 3px rgba(0,0,0,0.7);
}
@media (min-width:786px){
    .register-box {
        margin-top: 100px;
        width: 500px;
    }
}
.register-header {
    height: 60px;
    background-color: #FF5F41;
    display: flex;
    position: relative;
    align-items: center;
}
.register-header-logo {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
@media (min-wdith: 786px){
    .register-header-logo {
        height: 75px;
        width: 75px;
    }
    .register-header {
        height: 100px;
    }
}

.sign-up-logo {
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
    transform: translate(0, -45px);
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:786px){
    .sign-up-logo {
        width: 150px;
    }
}
.register-content {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 10px solid #FF5F41;
}
.register-content form {
    margin-top: -45px;
}
@media (min-wdith: 786px){
    .register-content {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 75px;
        margin-bottom: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.register-content button {
    display: block;
    background-color: #7BA8A2;
    font-size: 18pt;
    color: #FFF;
    margin: auto;
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
@media (min-wdith:786px){
    .register-content button {
        width: 250px;
    }
}
.register-content button:disabled {
    background-color: #AFCCC6;
    box-shadow: none;
}
.register-content button:disabled:hover {
    background-color: #AFCCC6;
    box-shadow: none;
}
.register-footer {
    text-align: center;
}

.register-footer a {
    color: #FF5F41;
    font-weight: bold;
}


.forgot-text {
    margin-top: 15px;
}

.register-box .orange-background {
    background-color: #FF5F41;
}
.green-background {
    background-color: #7BA8A2;
}
.green-color {
    color: #7BA8A2;
}
.green-border {
    border-color: #7BA8A2;
}

.settings-background {
    background: url("../images/settings-background.jpg") no-repeat top center fixed;
    background-size: cover;
}

.settings-group {
    margin-top: 100px;
    background-color: #F3F3EB;
    padding: 0;
}
.settings-header {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    height: 3em;
    background-color: #7BA8A2;
}
.settings-header span {
    color: #E7E6D6;
    font-weight: 900;
    font-size: 30px;
}

.settings-label {
    font-weight: 900;
}

.settings-section > .row {
    margin: 0;
    padding: 0.5em;
}

.profile-picture-carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
}
.profile-picture-carousel li {
    display: inline;
    list-style: none;
    margin-right: 2em;
}
.settings-button {
    display: block;
    font-size: 18pt;
    color: #F3F3EB;
    margin: auto;
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.7);
}
.update-result {
    text-align: center;
    font-size: 16pt;
    display: none;
    margin: 0;
}
