.register {
    background: url("../images/register-background.jpeg") no-repeat top center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.login {
    background: url("../images/login-background.jpg") no-repeat top center fixed;
    background-size: cover;
}
.register-box {
    width: 750px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    padding: 0;
    box-shadow: 13px 10px 9px 3px rgba(0,0,0,0.7);
}
.register-header {
    border-radius: 5px;
    height: 100px;
    background-color: #FF5F41;
    display: flex;
    position: relative;
    align-items: center;
}
.register-header-logo {
    display: block;
    margin: auto;
    height: 75px;
    width: 75px;
}

.sign-up-logo {
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
    transform: translate(0, -45px);
    width: 150px;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}
.register-content {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 75px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border: 10px solid #FF5F41;
}
.register-content button {
    display: block;
    background-color: #7BA8A2;
    font-size: 18pt;
    color: #FFF;
    margin: auto;
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 9px 3px rgba(0,0,0,0.7);
}
.register-content button:hover {
    background-color: #FF5F41;
}
.register-footer {
    text-align: center;
}

.register-footer a {
    color: #FF5F41;
    font-weight: bold;
}

.register-box button.orange-background:hover {
    background-color: #7BA8A2;
}

.forgot-text {
    margin-top: 15px;
}

.register-box .orange-background {
    background-color: #FF5F41;
}
.green-background {
    background-color: #7BA8A2;
}
.green-color {
    color: #7BA8A2;
}
.green-border {
    border-color: #7BA8A2;
}

