.browseGenreDiv {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}

.browseGenreName, .browseServiceName {
    color: #FF5F41;
    letter-spacing: 2.5px;
    font-weight: bold;
    margin-bottom: 15px;
}

.browseGenrePic {
    width: 304px;
    height: 171px;
    margin-right: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}

.browsePoster {
    display: none;
}

.browseGenrePic, .browsePoster {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

#browseDiv {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #F3F3EB;
}

#browseTitle {
    font-weight: bold;
    font-family: MuseoSans;
    margin-bottom: 20px;
    letter-spacing: 2.5px;
}

#browseTopDiv {
    margin-top: 2em;
}

#browseTopDiv, #genreName {
    font-family: "Oswald";
}

@media only screen and (max-width: 768px) {
    .browsePoster {
        width: 120px;
        height: 171px;
        margin-right: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        background-size: contain;
    }

    .browseGenrePic {
        display: none;
    }
}