#search-input {
    cursor: pointer;
    top: 0;
    border: none;
    background-color: #FFF;
}
#search-input:hover {
    background-color: #DDD;
}

.home-suggestion-banner {
    font-size: 18pt;
    margin-bottom: 1.5em;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 768px){
    .home-suggestion-banner {
        font-size: 36pt;
        text-align: left;
    }
}
.line-break {
    display: block;
}
@media (min-width: 768px){
    .line-break {
        display: none;
    }
}
.blink {
    opacity: 1;
    animation: blink 1s step-start infinite;
    -webkit-animation: blink 1s step-start infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.home-header {
    width: 100%;
    height: 60vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    position: relative;
}
.home-header > .header-content {
    z-index: 51;
}
.header-image {
    z-index: 49;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.home-header-search {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home-header-search form {
    box-shadow: 8px 8px 15px 5px rgba(0,0,0,0.5);
}
.home-header-search a {
    color: #FFF;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.home-header-search a:hover {
    font-weight: 900;
    text-decoration: none;
}

.card-section {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
@media (min-width: 768px){
    .card-section {
        flex-direction: row;
    }
}

.card {
    flex: 30%;
    padding: 1em;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.card:hover {
    font-weight: 900;
    text-decoration: none;
}
.card h2 {
    color: #FFF;
    font-weight: inherit;
}
@media (min-width: 768px){
    .card h2 {
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    }
}
.service-card {
    background-color: #7BA8A2;
    background-origin: content-box;
}
.card-inner-wrapper {
    background-color: #101010;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.show-card {
    background-color: #E7E6D6;
    background-origin: content-box;
}

.movie-card {
    background-color: #FF5F41;
    background-origin: content-box;
}
@media (min-width: 768px) {
    .card {
        padding: 2em;
    }
    .card-inner-wrapper {
        background-color: transparent;
    }
    .service-card {
        background: url("../images/service_example.png") no-repeat center center;
        background-size: contain;
        background-color: #7BA8A2;
        background-origin: content-box;
    }

    .show-card {
        background: url("../images/show_example.png") no-repeat center center;
        background-size: contain;
        background-color: #E7E6D6;
        background-origin: content-box;
    }

    .movie-card {
        background: url("../images/movie_example.png") no-repeat center center;
        background-size: contain;
        background-color: #FF5F41;
        background-origin: content-box;
    }
}


/* Tinting effect */
/* Currently bugged, tints image + text... */
/*
.card:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.6);
}

.home-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.6);
}*/

.search-results {
    padding-top: 75px;
    min-height: 100vh;
}
.search-image {
    background: url("../images/search-background.jpg") no-repeat top center;
}
.results {
    padding: 2em 1em 2em 1em;
    background-color: #F3F3EB;
    display: flex;
    flex-flow: column;
}

.results-item {
    display: block;
    list-style-type: none;
    clear: both;
    padding: 1em;
    overflow: hidden;
    color: #000;
    flex: 1 1 100%;
}
@media (min-width: 786px){
    .results {
        flex-flow: row wrap;
    }

    .results-item {
        flex: 1 1 33%;
    }
}

.results-item a:hover{
    text-decoration: none;
}
.results-item h3:hover {
    color: #FF5F41;
}
.results-bottom {
    margin-top: 0.5em;
}
.results-image {
    margin-right: 1.5em;
}

.results-div-bar {
    border: 2px solid #FF5F41;
    width: 75px;
}

.results-link {
    display: block;
    min-height: 4em;
    margin-bottom: 0em;
}
.results-link h3 {
    font-size: 18pt;
    color: #000;
    display: inline;
}

.results-type {
    display: inline-block;
}
.results-type-svg {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}
.results-type-text {
    display: inline-block;
    vertical-align: middle;
}
.results-header {
    background-color: #7BA8A2;
    margin: 0;
    position: relative;
    padding-top: 2em;
}
.results-header h2 {
    color: #E7E6D6;
    font-weight: 900;
}
.results-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: 3em;
    margin-top: 1em;
}
.results-tab span {
    cursor: default;
    flex: 1 1 50%;
    font-weight: normal;
    background-color: #CC4C34;
    height: 100%;
    line-height: 42px;
    font-weight: 900;
    font-size: 20px;
    position: relative;
    color: #E7E6D6;
}
.results-tab .selected {
    background-color: #FF5F41;
}
.results-tab span:not(.selected){
    cursor: pointer;
}
.results-footer {
    margin-top: 0.5em;
    display: flex;
}
.results-footer-left {
    display: block;
    flex: 1 1 33%;
}
.results-footer-right {
    display: block;
    flex: 1 1 65%;
    width: 65%;
    text-align: right;
}

.privacy-background {
    background: url("../images/privacy-background.jpg") no-repeat top center;
    background-size: cover;
}

.privacy-header {
    padding: 1em;
}
.privacy-header h1 {
    margin: 0;
    font-weight: 900;
    color: #E7E6D6;
}
.privacy-wrapper h1 {
    text-align: center;
}
.privacy-wrapper h2 {
    font-size: 18pt;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.tos-background {
    background: url("../images/tos-background.jpg") no-repeat top center;
    background-size: cover;
}

.about-background {
    background: url("../images/about-background.jpg") no-repeat top center;
    background-size: cover;
}
.content-header.about-header {
    background-color: #4B2E83;
}
.content-header.about-header h2 {
    color: #E7E6D6;
    line-height: 42px;
}
.about-body div {
    margin-bottom: 1em;
    padding: 1em;
}
@media (min-width: 786px){
    .about-body div {
        padding: 0;
    }
}
.about-body h2 {
    font-weight: 900;
    margin-bottom: 1em;
}
.about-wrapper {
    display: flex;
    flex-direction: column;
}
@media (min-width:786px){
    .about-wrapper {
        flex-direction: row;
    }
}
.about-card {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.about-card p, .about-card a {
    margin-bottom: 0.5em;
}
.content-header.about-header:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-top: solid 25px #4B2E83;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}
