body {
    font-family: MuseoSans, sans-serif;
}

h1 {
    font-size: 30px;
    margin-top: 0px;
    position: relative;
}

table {
    margin-left: 210px;
}

td {
    padding-top: 10px;
}

.title {
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-right: 10px;
}

#contentDiv {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    height: inherit;
}

#descDiv {
    margin-top: 15px;
}

#detailsBox {
    height: 50px;
    background-color: #FF5F41;
}

#detailsBox p {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    font-size: 18px;
    color: #E7E6D6;
    font-weight: bold;
}

#detailsDiv {
    height: 260px;
}

#detailsDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#detailsDiv ul li {
    display: inline-block;
}

#imgDiv {
    margin-top: 60px;
    margin-left: 60px;
}

#pageDiv {
    padding-top: 75px;
    min-height: 100vh;
}

#pictureDiv {
    float: left;
}

#pictureDiv img {
    height: 260px;
}

#servicesDiv {
    margin-bottom: 100px;
}

#servicesDiv h2, #descDiv h2 {
    color: #FF5F41;
    font-weight: bold;
    font-size: 26px;
}

#showDetail {
    background: url("../images/search-background.jpg") no-repeat top center;
    background-size: cover;
}

#titleDiv {
    margin-left: 200px;
    margin-right: 200px;
    height: 75px;
    background-color: #7BA8A2;
}

#titleDiv h1 {
    vertical-align: middle;
    text-align: center;
    color: #E7E6D6;
    line-height: 75px;
    font-weight: bold;
}

#topDetails div {
    display: inline-block;
}

#wrapperDiv {
    padding: 30px;
    background-color: #F3F3EB;
}