#castDiv {
    margin-bottom: 15px;
}

#contentDiv {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    height: inherit;
}

#detailsDiv {
    padding-bottom: 120px;
}

#detailsDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#detailsDiv ul li {
    display: inline-block;
}

#genreDiv, #castDiv {
    color: black;
}

#imgDiv {
    margin-top: 60px;
    margin-left: 60px;
}

#pictureDiv {
    float: left;
    padding-right: 15px;
}

#servicesDiv h2 {
    color: #FF5F41;
}

#showDetail {
    background: url("../images/search-background.jpg") no-repeat top center;
    height: 700px;
}

#titleDiv {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    height: 75px;
    background-color: #7BA8A2;
}

#titleDiv h2 {
    vertical-align: middle;
    text-align: center;
    color: #E7E6D6;
    line-height: 75px;
}

#topDetails ul li {
    color: #FF5F41;
    font-size: 18px;
    font-weight: bold;
    padding-right: 40px;
}

#wrapperDiv {
    padding: 30px;
}