@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSansCyrl_0.otf") format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSansCyrl_3.otf") format('opentype');
    font-weight: 300;
    font-style: oblique;
}

body {
    background: white;
    font-family: MuseoSans, sans-serif;
}

h2, h3 {
    margin: 0;
}

.background-image {
    position: fixed;
    z-index: -999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-stream, .logo-surfer {
    margin: 0;
    font-size: 24pt;
}
.logo-stream {
    color: #7BA8A2;
}
.logo-surfer {
    color: #FF5F41;
}

.error-message {
    margin-top: 150px;
}

.green-tip:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-top: solid 25px #7BA8A2;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.orange-tip:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-top: solid 25px #FF5F41;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}