@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSansCyrl_0.otf") format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: MuseoSans;
    src: url("../fonts/MuseoSansCyrl_3.otf") format('opentype');
    font-weight: 900;
    font-style: normal;
}

body {
    background: white;
    font-family: MuseoSans, sans-serif;
}

h2, h3 {
    margin: 0;
}

.background-image {
    position: fixed;
    z-index: -999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-stream, .logo-surfer {
    margin: 0;
    font-size: 24pt;
    font-weight: 900;
}
.logo-stream {
    color: #7BA8A2;
}
.logo-surfer {
    color: #FF5F41;
}

.error-message {
    margin-top: 150px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

#global-search-form {
    margin-right: 0.5em;
}
#global-search-input {
    top: 0;
}

.green-tip:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-top: solid 25px #7BA8A2;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.orange-tip:after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -25px;
    width: 0;
    height: 0;
    border-top: solid 25px #FF5F41;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.section-header-text {
    color: #E7E6D6;
    font-weight: 900;
    font-size: 30px;
}
.content-wrapper {
    margin-top: 100px;
    background-color: #F3F3EB;
    padding: 0;
    padding-bottom: 1em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.content-body {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.content-header {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    min-height: 3em;
    background-color: #FF5F41;
}
.orange-border {
    border: 10px solid #FF5F41;
}
.green-border {
    border: 10px solid #7BA8A2;
}
.green-background {
    background-color: #7BA8A2;
}
.orange-background {
    background-color: #FF5F41;
}

.add-button {
    background-color: #FF5F41;
    border-radius: 0;
    box-shadow: rgba(0,0,0,.25) 4px 4px 4px;
    color: #F3F3EB;
    padding-left: 5px;
}
.add-button:hover {
    background-color: #b2422d;
    color: #F3F3EB;
}
.add-button i {
    margin-right: 10px;
    text-shadow: 0px 4px 4px rgba(0,0,0,.25);
}
.add-button:disabled:hover {
    background-color: #FF5F41;
    color: #F3F3EB;
}

.content-body button {
    display: block;
    font-size: 18pt;
    color: #F3F3EB;
    margin: auto;
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.btn.green-background:hover {
    background-color: #628681;
    color: #F3F3EB;
}
.btn.orange-background:hover {
    background-color: #b2422d;
    color: #F3F3EB;
}
.btn.green-background:disabled:hover {
    background-color: #7BA8A2;
}

.btn.orange-background:disabled:hover {
    background-color: #FF5F41;
}

.btn {
    border-radius: 0;
}

.italic {
    font-style: italic;
}

.error-500 {
    background: url("../images/500-background.png") no-repeat bottom center;
    background-size: cover;
}
.error-404 {
    background: url("../images/404-background.png") no-repeat bottom center;
    background-size: cover;
}

.error-text {
    width: 75%;
    margin: 250px auto 0 auto;
    text-align: center;
    color: #FFF;
    font-size: 26px;
    font-weight: 900;
}
.error-text .larger {
    font-size: 36px;
}
.error-text a {
    display: block;
    font-size: 18pt;
    color: #F3F3EB;
    margin: auto;
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
