@{ 
    ViewData["Title"] = "Page not Found";
}

<div class="background-image error-404"></div>
<div class="error-text">
    <p>Page not found!</p>
    <p class="larger">Sorry, it looks like you wiped out.</p>
    <p class="larger">Try catching another wave!</p>
    <a class="btn orange-background" asp-controller="Home" asp-action="Index">HOME</a>
</div>