<div class="background-image error-500"></div>
<div class="error-text">
    <p>Internal Server Error</p>
    <p class="larger">Looks like we're experiencing choppy waters.</p>
    <p class="larger">Try catching another wave!</p>
    <a class="btn orange-background" asp-controller="Home" asp-action="Index">HOME</a>
</div>