@model SortedDictionary<String, List<Movie>>
@{
    ViewData["Title"] = "Movies";
}

<div id="browseDiv">
    <div id="browseTopDiv">
        <h2 id="browseTitle">CATEGORIES</h2>
    </div>

    <div>
        @{
            foreach (var item in Model)
            {
                <h3 class="browseGenreName">@Html.DisplayFor(modelItem => item.Key)</h3>
                <div class="browseGenreDiv">
                    @foreach (var value in item.Value)
                    {
                        <a href="/movie/detail/@Html.DisplayFor(modelItem => value.ID)">
                            <div class="browseGenrePic" style="background-image: url(@Html.DisplayFor(modelItem => value.Artwork));"></div>
                            <div class="browsePoster" style="background-image: url(@Html.DisplayFor(modelItem => value.Poster));"></div>
                        </a>
                    }
                </div>
            }
        }
    </div>
</div>