
<div class="background-image about-background"></div>
<div class="content-wrapper">
    <div class="content-header about-header">
        <h2 class="text-center">ABOUT US</h2>
    </div>
    <div class="content-body about-body">
        <div>
            <h2>The Project</h2>
            <div>
                StreamSurfer is a project that we made for our capstone in the Informatics program at UW Seattle.
                We came up with the idea in mid-Fall, refined it through Winter quarter, and implemented in Spring quarter.
                What you see here is the live site of the result of that work, feel free to explore about and discover your favorite movies and TV shows with StreamSurfer.
                If you'd like to view the source code for this site it's hosted <a href="https://github.com/camd67/stream-surfer">on GitHub</a>.
                <p>Thanks for taking the time to check out our project!</p>
            </div>
        </div>
        <div>
            <h2>The Team</h2>
            <div class="about-wrapper">
                <div class="about-card">
                    <img />
                    <p>Cameron</p>
                    <p>Developer</p>
                    <a href="mailto:camdoane@uw.edu">camdoane@uw.edu</a>
                    <a href="https://github.com/camd67">Github</a>
                    <a href="https://www.linkedin.com/in/camerondoane/">LinkedIn</a>
                </div>
                <div class="about-card">
                    <img />
                    <p>Isabelle</p>
                    <p>Designer</p>
                    <a href="mailto:itran94@uw.edu">itran94@uw.edu</a>
                    <a href="https://linkedin.com/in/isabelle-tran//">LinkedIn</a>
                </div>
                <div class="about-card">
                    <img />
                    <p>Jack</p>
                    <p>Developer</p>
                    <a href="mailto:jackw117@uw.edu">jackw117@uw.edu</a>
                    <a href="https://github.com/jackw117">Github</a>
                </div>
                <div class="about-card">
                    <img />
                    <p>Alison</p>
                    <p>Designer</p>
                    <a href="mailto:aliwong@uw.edu">aliwong@uw.edu</a>
                    <a href="//bitly.com/alisonwong">Portfolio</a>
                </div>
            </div>
        </div>
        <div>
            Icons made by
            <a href="http://www.freepik.com" title="Freepik">Freepik</a>
            and <a href="http://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>
            from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </div>
</div>
