<div style="text-align: center; margin-top:100px">
    <h2>Sorry, advanced search isn't available yet.</h2>
    <a asp-controller="Home" asp-action="Index">Please return to the homepage for searching, we'll work on this page soon!</a>
</div>