@{
    ViewData["Title"] = "Home";
}
@section Scripts{
    <script src="~/js/home.js"></script>
}

<div class="loading-overlay">
        @await Html.PartialAsync("_SurferOverlay");
</div>
<header class="home-header">
    <div class="header-image"></div>
    <div class="header-content home-suggestion-banner">
        Let's watch
        <span class="home-suggestion-text"></span><span class="blink">&#124;</span>
    </div>
    <div class="header-content home-header-search">
        <form asp-action="Search" method="get" id="search-form">
            <div class="input-group">
                <input type="text" id="query" name="query" class="search-box form-control" />
                <i type="submit" class="glyphicon glyphicon-search input-group-addon" id="search-input"></i>
            </div>
        </form>
        <a asp-controller="Home" asp-action="AdvancedSearch">Advanced Search</a>
    </div>
</header>
<div class="card-section">
    <a class="card service-card" asp-Controller="Browse" asp-action="Index">
        <h2>SERVICES</h2>
    </a>
    <a class="card show-card" asp-Controller="Browse" asp-action="Shows">
        <h2>SHOWS</h2>
    </a>
    <a class="card movie-card" asp-Controller="Browse" asp-action="Movies">
        <h2>MOVIES</h2>
    </a>
</div>