@model IEnumerable<StreamSurfer.Models.Show>

<ul>
    @foreach(var s in Model)
    {
    <li>
        <p><a asp-controller="Show" asp-action="Detail" asp-route-id="@s.ID">@s.Title</a></p>
    </li>
    }
</ul>