@{ 
    ViewData["Title"] = "Terms of Service";
}

<div class="background-image tos-background"></div>
<div class="content-wrapper privacy-wrapper">
    <div class="privacy-header content-header green-background green-tip"><h1>TERMS OF SERVICE AGREEMENT</h1></div>
    <div class="content-body">
        <p>Last updated: 05/26/2017 (May 26th, 2017)</p>

        <p class="italic">PLEASE READ THE FOLLOWING TERMS OF SERVICE AGREEMENT CAREFULLY. BY ACCESSING OR USING OUR SITE AND OUR SERVICES, YOU HEREBY AGREE TO BE BOUND BY THE TERMS HEREIN BY REFERENCE. IT IS THE RESPONSIBILITY OF YOU, THE USER, TO READ THE TERMS AND CONDITIONS BEFORE PROCEEDING TO USE THIS SITE. IF YOU DO NOT EXPRESSLY AGREE TO ALL OF THE TERMS AND CONDITIONS, THEN PLEASE DO NOT ACCESS OR USE OUR SITES OR OUR SERVICES. THIS TERMS OF SERVICE AGREEMENT IS EFFECTIVE AS OF 05/26/2017 AND WILL EXPIRE ALONG WITH THE TERMINATION OF STREAMSURFER.INFO AT THE BEGINNING OF OCTOBER, 2017 (10/01/17).</p>

        <h2>ACCEPTANCE OF TERMS</h2>

        <p>The following Terms of Service Agreement (the "TOS") is a legally binding agreement that shall govern the relationship with visitors of the StreamSurfer site (the "users") and others which may interact or interface with StreamSurfer ("us', "we", "our") which includes Streamsurfer.info, (the "Site") and its Services, which shall be defined below. You can contact us at streamsurferinfo@gmail.com.</p>

        <h2>DESCRIPTION OF SERVICES PROVIDED</h2>

        <p>
            StreamSurfer provides users the ability to search for movies and TV shows, which includes content related to the show as well as links to watch the shows. Users can also create profiles that provide them the ability to add shows to their list.
            You, as a user, accept, acknowledge, and agree to not hold StreamSurfer liable for any modifications, additions, or deletions of any content provided by StreamSurfer. You also accept, acknowledge, and agree that you will not hold StreamSurfer liable for any damages caused by the site in any way. StreamSurfer and its services described are provided as-is.
        </p>

        <h2>REGISTRATION</h2>

        <p>
            Users must be 18 years of age in order to register with StreamSurfer in order to agree to this legally binding contract (The "TOS"). If users under age 18 would like to register, they must do so under the direct supervision of a legal parent or guardian, who will be solely responsible for that user and the actions taken by them. It is the responsibility of that legal parent or guardian to determine if the content on StreamSurfer is appropriate for the user. Users may register with the site and create a public profile, including a list of watched shows which is also public.
            Upon registration users must provide a username, email, and password in order to create an account. Usernames must be unique across the site and are used to identify users when using StreamSurfer. As such usernames must not contain any racist, homophobic, sexist, or otherwise derogatory language. Failure to do so will result in account deletion. More details on account registration can be found in the privacy policy.
        </p>

        <h2>PRIVACY POLICY</h2>

        <p>Every user of StreamSurfer is subject to the privacy policy located at <a href="https://streamsurfer.info/Home/Privacy">https://streamsurfer.info/Home/Privacy</a>. You agree to the data storage and transfer policies described by the privacy policy.</p>

        <h2>ACCOUNT TERMINATION</h2>

        <p>Users may at any time request their account to be terminated by contacting StreamSurfer directly. The user's username, password, email, and list will be permanently deleted from StreamSurfer's file storage and database and will not be recoverable. Before termination we will request you make a modification to your account in order to verify you have access to the account.</p>

        <h2>LINKS</h2>

        <p>StreamSurfer provides links to third party content such as online streaming providers. You acknowledge and agree that Streamsurfer is not responsible for the availability, issues, or content that is not hosted directly on https://streamsurfer.info. Any concerns, requests, or issues should be directed to the owner of the link's destination address.</p>

        <h2>END OF SERVICE</h2>

        <p>
            StreamSurfer will continue to operate normally until the first of October, 2017 (10/01/2017) at which point the site will be closed and all personal information will be deleted. We can provide a backup of your data, along with your list, upon request. We are choosing to do this in order to protect your privacy and make sure that your personal information doesn't get stolen as the service ages.
            We will update the TOS as well as place a notice on the homepage if this date changes either to a later date or a sooner one.
        </p>

        <h2>VIOLATIONS</h2>

        <p>Please report any violations of this TOS to StreamSurfer directly at <a href="mailto:streamsurferinfo@gmail.com">streamsurferinfo@gmail.com</a>.</p>
    </div>
</div>